<article class="post-card">
  <div class="post-card__header">
    <img src="<%= post.profile_image %>" alt="<%= post.content %>" width="40" height="40" class="post-card__image">
    <div class="post-card__author">
      <p>@<%= post.source.username %></p>
      <div>
        <time datetime="<%= post.created_at.iso8601 %>"><%= post.created_at.strftime("%d %B %Y") %></time>
        <span><%= post.source.platform %></span>
      </div>
    </div>
    <% if post.is_promoted? %>
      <span class="post-card__promoted">
        <%= svg "icons/pin.svg", width: 14, height: 14 %>
      </span>
    <% end %>
  </div>

  <% if post.media_url.present? && post.media_type.in?(%w[image carousel video]) %>
    <div x-data="{ open: false }" class="post-card__media-wrapper">
      <button type="button" class="post-card__media-link" @click="open = true">
        <%= image_tag post.media_url, alt: post.content, class: "post-card__media-img" %>

        <% if post.media_type == "video" %>
          <span class="post-card__play-overlay">
            <%= svg "icons/play.svg", width: 48, height: 48 %>
          </span>
        <% end %>
      </button>

      <!-- Lightbox overlay -->
      <template x-if="open">
        <div class="lightbox" x-show="open" x-transition.opacity.duration.200ms @click.self="open = false" @keydown.escape.window="open = false">
          <div class="lightbox__inner" x-transition.scale.duration.200ms>
            <button type="button" class="lightbox__close" @click="open = false" aria-label="Close image preview">
              <%= svg "icons/x-mark.svg", width: 24, height: 24 %>
            </button>

            <%= image_tag post.media_url, alt: post.content, class: "lightbox__img" %>
          </div>
        </div>
      </template>
    </div>
  <% end %>

  <div class="post-card__body">
    <% if post.content.present? %>
      <p class="post-card__content"><%= post.content %></p>
    <% end %>

    <div class="post-card__tags">
      <% if post.hashtags.present? %>
        <span class="post-card__tag post-card__tag--hashtags"><%= post.hashtags %></span>
      <% end %>
      <% if post.mentions.present? %>
        <span class="post-card__tag post-card__tag--mentions"><%= post.mentions %></span>
      <% end %>
      <% if post.location.present? %>
        <p class="post-card__tag post-card__tag--location"><%= svg "icons/map-pin.svg", width: 14, height: 14 %> <%= post.location %></p>
      <% end %>
    </div>
  </div>

  <div class="post-card__footer">
    <span class="likes" title="Likes"><%= svg "icons/heart-solid.svg", width: 16, height: 16 %> <%= number_with_delimiter(post.likes) %></span>
    <span class="comments" title="Comments"><%= svg "icons/comment.svg", width: 16, height: 16 %> <%= number_with_delimiter(post.comments) %></span>
    <span class="shares" title="Shares"><%= svg "icons/share.svg", width: 16, height: 16 %> <%= number_with_delimiter(post.shares) %></span>
    <span class="views" title="Views"><%= svg "icons/eye.svg", width: 16, height: 16 %> <%= number_with_delimiter(post.views) %></span>
  </div>
</article>