<div class="main-content">
  <%= render partial: "posts/filter_bar", locals: { platforms: @platforms, media_types: @media_types, sources: @sources, filter: @filter, active_filters: @active_filters } %>

  <% if @posts.empty? %>
    <div class="empty" role="status" aria-live="polite">
      <div class="empty__icon">
        <%= svg "illustrations/no-data.svg", width: 80, height: 80 %>
      </div>
      <h2 class="empty__title">No posts found</h2>
      <h3 class="empty__subtitle">Try changing filters or refreshing the data.</h3>
    </div>
  <% else %>
    <div id="posts">
      <%= turbo_frame_tag :posts_page, @pagy.page do %>
        <%= render partial: "posts/post", collection: @posts, cached: true %>
        <% if @pagy.next %>
          <%= turbo_frame_tag :posts_page, @pagy.next, src: posts_path(request.query_parameters.merge(page: @pagy.next)), loading: :lazy %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>